body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    padding-block: 3vh;
    padding-inline: 3vw;
}

.search__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 20vw;
    height: 5vh;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    min-width: 35vw;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    width: 150px;
    border-radius: 25px;

}

.header__link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.header__link:hover {
    color: gray;
}

.search-button {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    object-fit: contain;
}

.search-button:hover {
    background-color: #0056b3;
}

.search__image {
    height: 5vh;
}

.footer {
    background-color: #fc4e00;
    min-height: 50vh;
}
