@font-face {
    font-family: "Tinkoff";
    src: url('../css/font/tinkoffsans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 3vh;
    padding-inline: 3vw;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    min-width: 35vw;
}

.search__container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 20vw;
    height: 5vh;
}

.search__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    width: 15vw;
    border-radius: 25px;

}

.header__link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.header__link:hover {
    color: gray;
}

.search-button {
    width: 3vw;
    aspect-ratio: 1;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    object-fit: contain;
}

.search-button:hover {
    background-color: #0056b3;
}

.search__image {
    width: 2vw;
    aspect-ratio: 1;
}

.footer {
    background-color: #fc4e00;
    min-height: 50vh;
}
/* static/css/base.css */
.search-container {
    margin: 20px auto;
    text-align: center;
}

.search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

.results-container {
    margin: 20px auto;
    max-width: 600px;
}

.results-container ul {
    list-style-type: none;
    padding: 0;
}

.results-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.results-container li:last-child {
    border-bottom: none;
}

.footer {
    color: white;
    background-color: #fc4e00;
    min-height: 20vh;
    margin-top: 4vh;
    display: flow-root; /* Чтобы margin дочерних элементов оставался внутри */
}

.footer__text-block {
    text-align: center;
    margin-top: 4vh;
}
/* Бегущая строка */
.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.marquee-text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    color: white;
    font-size: 1.5em;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Остальные стили footer */
.footer__text-block {
    margin-top: 4vh;
    overflow: hidden; /* Скрываем выходящий за границы текст */
}