body {
    background-color: #f6f7f8;
    display: flex;
    justify-content: center; /* Выравнивание по центру горизонтали */
    align-items: center; /* Выравнивание по центру вертикали */
    height: 100vh; /* Занимает всю высоту экрана */
    margin: 0; /* Убираем отступы по умолчанию */
}

.box {
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание содержимого по центру горизонтали */
    padding: 20px; /* Добавляем отступы внутри .box */
}

.input_fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    margin-top: 30px;
}

.text_heading {
    text-align: center; /* Выравнивание текста по центру */
    width: 100%; /* Занимает всю ширину .box */
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px; /* Расстояние между кнопками */
    width: 450px; /* Ширина кнопок равна ширине полей ввода */
    justify-content: space-between; /* Равномерное распределение кнопок */
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #244a7f0f;
    background-color: #244a7f0f;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    padding-left: 10px;
    font-size: 14px;
    color: #000000cc;
}

input:focus {
    background-color: white;
    border-color: black;
    outline: none;
}

.button, .button_2 {
    width: 215px;
    height: 45px;
    border-radius: 5px;
    background-color: #ff5500;
    color: white;
    border: 1px solid #fb8500;
    font-size: 14px;
    cursor: pointer;
}

.box_two {
    margin-top: 10px;
}

@font-face {
    font-family: "Tinkoff";
    src: url('../font/tinkoffsans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

p {
    color: #000000cc;
    font-family: "Tinkoff", Arial, sans-serif;
    font-size: 30px;
}

svg {
    width: 30px; /* Ширина SVG */
    height: 30px; /* Высота SVG */
    position: absolute; /* Абсолютное позиционирование */
    top: 100px; /* Отступ сверху */
    right: 450px; /* Отступ справа (ближе к форме) */
    cursor: pointer; /* Курсор в виде указателя */
}

.button:hover {
    background-color: #f77f00;
    transition: 0.2s;
}

.button_2:hover {
    background-color: #f77f00;
    transition: 0.2s;
}