* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: "Tinkoff";
    src: url('../css/font/tinkoffsans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.footerBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, .5);
}
main {
    display: flex;
    justify-content: center;
    padding-top: 140px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input {
    height: 45px;
    width: 100%;
    color: #3B5983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
    box-sizing: border-box;
}
input[type="checkbox"] {
    width: fit-content;
}
.b_1 {
    height: 20px;
    width: 100%;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
    margin-bottom: 13px;
}
p {
    padding-left: 5px;
    line-height: 20px;
}
.form-checkbox {
    display: flex;
}
.register-form-container {
    width: 500px;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-bottom: 100px;
}
header {
    text-align: center; /* Центрирование содержимого в header */
    padding: 30px 0; /* Отступ сверху и снизу для header */
    background-color: white;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
}
.form-title {
    color: #30507D;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 38px;
}
.form-field {
    margin-bottom: 13px;
}
.button {
    border: none;
    font-weight: bold;
    font-size: 14px;
    display: block;
    height: 45px;
    background: #ff5500;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    width: 100%
}
.form-remember {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.form-remember a {
    text-decoration: none;
    color: #6c757d;
    ;
    cursor: pointer;
}

.form-remember a:hover {
    color: black;
}
.button:hover {
    background-color: #fb8500;
}