<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/base.css" type="text/css">
    {% block styles %}{% endblock %}
    <title>KinoStrelka</title>
</head>
<body>
<header>
    <div class="header">
        <div class="header__logo">
            <img src="static/image/logo.svg" alt="Логотип">
        </div>
        <nav>
            <div class="header__menu">
                <a href="/" class="header__link">Главная</a>
                <a href="/recomendations" class="header__link">Рекомендации</a>
                {% if flag == False %}
                    <a href="{{ url_for('login') }}" class="header__link">Вход</a>
                    <a href="{{ url_for('signup') }}" class="header__link">Регистрация</a>
                {% else %}
                    {% block header_links %}
                        {% if not hide_profile_logout %}
                            <a href="{{ url_for('profile') }}" class="header__link">Профиль</a>
                            <a href="{{ url_for('logout') }}" class="header__link">Выход</a>
                        {% endif %}
                    {% endblock %}
                {% endif %}
            </div>
        </nav>
        <div class="search__container">
            <input type="text" class="search-input" placeholder="Поиск фильмов">
            <button class="search-button"><img src="static/image/search_logo.svg" alt="Логотип поиска" class="search__image"></button>
        </div>
    </div>
</header>
<main>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</main>
<footer>
    <div class="footer">
    </div>
</footer>
</body>
</html>