{% extends "base.html" %}

{% block styles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/entrance.css">
{% endblock %}

{% block content %}
    <div class="register-form-container">
        <form method="POST">
            <h1 class="form-title">Вход</h1>
            <div class="form-fields">
                <div class="form-field">
                    <input type="email" name="mail" placeholder="Почта" value="{{email}}">
                </div>
                <div class="form-field">
                    <input type="password" name="password" placeholder="Пароль" value="{{password}}">
                </div>
                <div class="form-checkbox">
                    <input class="b_1" name="rememder" type="checkbox" value="{{remember}}">
                    <p>Запомнить меня</p>
                </div>
            </div>
            <div class="form-buttons">
                <p>{{err}}</p>
                <button class="button">Вход</button>
            </div>

            <div class="form-remember">
                <a href="{{ url_for('new_password') }}">Забыли пароль?</a>
            </div>
            <div class="form-remember">
                <a href="{{ url_for('signup') }}">Не зарегистрированы?</a>
            </div>
            </form>
        </div>
{% endblock %}

