{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="static/css/index.css" type="text/css">
{% endblock %}

{% block content %}
<div class="premier-movie__container">
    <div class="premier-movie__image-container"><img src="static/premier/premier-poster.jpg"
                                                     class="premier-movie__image"></div>
    <div class="premier-movie__text-container">
        <h2 class="premier-movie__header">Иван царевич и серый волк 6</h2>
        <p>Оценка: 9,2</p>
        <p>«Иван Царевич и Серый Волк 6» - это очередная
            увлекательная история популярной анимационной серии,
            известной своим ярким визуальным стилем и
            захватывающими сюжетами, основанными на русских
            народных сказках.</p>
        <button>Смотреть фильм</button>
    </div>
</div>
<p>Статья "Влияние цифровых технологий на формирование идентичности в подростковом возрасте" анализирует трансформацию
    процесса самоопределения подростков в эпоху цифровых медиа. Исследование рассматривает влияние социальных сетей,
    онлайн-игр и других цифровых платформ на формирование самовосприятия, ценностей и социальных связей у подростков.
    Автор исследует, как виртуальные пространства влияют на самопрезентацию, формирование групповой идентичности и поиск
    смыслов. Работа опирается на данные из качественных и количественных исследований, анализируя как позитивные, так и
    негативные аспекты цифрового влияния. Особое внимание уделяется проблемам кибербуллинга, сравнения с другими и
    возможным последствиям для психического здоровья. В заключении предлагаются рекомендации для родителей, педагогов и
    разработчиков цифровых платформ по оптимизации использования технологий для здорового развития подростков. Статья
    имеет практическую значимость для специалистов в области психологии, педагогики и социологии, работающих с
    подростками.
</p>
<p>Статья "Влияние цифровых технологий на формирование идентичности в подростковом возрасте" анализирует трансформацию
    процесса самоопределения подростков в эпоху цифровых медиа. Исследование рассматривает влияние социальных сетей,
    онлайн-игр и других цифровых платформ на формирование самовосприятия, ценностей и социальных связей у подростков.
    Автор исследует, как виртуальные пространства влияют на самопрезентацию, формирование групповой идентичности и поиск
    смыслов. Работа опирается на данные из качественных и количественных исследований, анализируя как позитивные, так и
    негативные аспекты цифрового влияния. Особое внимание уделяется проблемам кибербуллинга, сравнения с другими и
    возможным последствиям для психического здоровья. В заключении предлагаются рекомендации для родителей, педагогов и
    разработчиков цифровых платформ по оптимизации использования технологий для здорового развития подростков. Статья
    имеет практическую значимость для специалистов в области психологии, педагогики и социологии, работающих с
    подростками.
</p>
<p>Статья "Влияние цифровых технологий на формирование идентичности в подростковом возрасте" анализирует трансформацию
    процесса самоопределения подростков в эпоху цифровых медиа. Исследование рассматривает влияние социальных сетей,
    онлайн-игр и других цифровых платформ на формирование самовосприятия, ценностей и социальных связей у подростков.
    Автор исследует, как виртуальные пространства влияют на самопрезентацию, формирование групповой идентичности и поиск
    смыслов. Работа опирается на данные из качественных и количественных исследований, анализируя как позитивные, так и
    негативные аспекты цифрового влияния. Особое внимание уделяется проблемам кибербуллинга, сравнения с другими и
    возможным последствиям для психического здоровья. В заключении предлагаются рекомендации для родителей, педагогов и
    разработчиков цифровых платформ по оптимизации использования технологий для здорового развития подростков. Статья
    имеет практическую значимость для специалистов в области психологии, педагогики и социологии, работающих с
    подростками.
</p>
<p>Статья "Влияние цифровых технологий на формирование идентичности в подростковом возрасте" анализирует трансформацию
    процесса самоопределения подростков в эпоху цифровых медиа. Исследование рассматривает влияние социальных сетей,
    онлайн-игр и других цифровых платформ на формирование самовосприятия, ценностей и социальных связей у подростков.
    Автор исследует, как виртуальные пространства влияют на самопрезентацию, формирование групповой идентичности и поиск
    смыслов. Работа опирается на данные из качественных и количественных исследований, анализируя как позитивные, так и
    негативные аспекты цифрового влияния. Особое внимание уделяется проблемам кибербуллинга, сравнения с другими и
    возможным последствиям для психического здоровья. В заключении предлагаются рекомендации для родителей, педагогов и
    разработчиков цифровых платформ по оптимизации использования технологий для здорового развития подростков. Статья
    имеет практическую значимость для специалистов в области психологии, педагогики и социологии, работающих с
    подростками.
</p>
{% endblock %}