<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/password.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/password.css">
</head>

<body>
    <div class="logo">
        <img src="static/image/logo.svg" alt="Логотип">
    </div>
    <main>
        <div class="circle"></div>
        <div class="register-form-container">
             <form method="POST">
            <h1 class="form-title">Подтверждение почты</h1>
            <div class="form-fields">
                <div class="form-field">
                    <input type="email" name="mail" placeholder="Почта" value="{{email}}">
                </div>
            </div>
            <div class="base">
                <div class="form-field">
                    <input type="number" name="unik_cod" placeholder="Уникальный код">
                </div>
            </div>
            <div class="form-buttons_2">
                {% if flag == False %}
                <button class="button_2" name="send_code">Отправить код</button>
                {% elif flag == True %}
                <button class="button_2" name="send_code">Подтвердить</button>
                {% endif %}
            </div>

             </form>
        </div>

    </main>
</body>

</html>