{% extends "base.html" %}

{% block content %}
{% if results %}
    <div class="results-container">
        <h2>Результаты поиска:</h2>
        <ul>
            {% for movie in results %}
                <li class="movie-item">
                    <h3>{{ movie.title }}</h3>
                    <div class="description">
                        {{ movie.description|truncate(300) }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}